<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.store.mapper.CarouselMapper">
    <select id="getCarouselById" resultType="src.store.bean.Carousel">
        SELECT * from carousel where carousel_id = #{carousel_id}
    </select>
    <select id="getCarousel" resultType="src.store.bean.Carousel">
        SELECT * from carousel
    </select>
    <insert id="insertCarousel" parameterType="src.store.bean.Carousel" >
        insert into carousel values(#{carousel_id},#{imgPath},#{describes})
    </insert>
    <delete id="deletCarouselById" >
        delete from carousel where carousel_id = #{carousel_id}
    </delete>
</mapper>